/* Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --montserrat: 'Montserrat', sans-serif;
  --violet: #742092;
  --pink: #c858ba;
  --orange: #ffc973;
  --yellow: #ffe3b3;
  --white: #fff;
}

/* General */
body {
  text-align: center;
  font-family: var(--montserrat);
}
h1, h2, h4 {
  color: var(--violet);
  padding-bottom: 1rem;
}
h3 { 
  background-color:  var(--pink);
  color: var(--white);
  padding: 1rem 0.50rem;
}
/* Header - footer */
#header-3,
#footer-3 {
  background-color: var(--yellow);
  padding: 1rem 0.50rem;
}
#footer-3 a {
  text-decoration: none;
  font-weight: 800;
}
#footer-3 a:hover {
  color: var(--pink);
}
/* Main */
#main-3 {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 2rem 1rem;
  border-bottom: 2px solid var(--orange);
}

#main-3 button {
  margin: 1rem;
  background-color: var(--orange);
  padding: 0.50rem 1rem;
  border: 2px solid var(--pink);
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

#main-3 button:hover {
  background-color:  var(--yellow);
  border-color: var(--violet);
}