@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --roboto:  'Roboto', sans-serif;
  --black: rgb(54, 52, 52);
  --gray: rgb(128, 128, 128);
  --primary: rgb(218, 208, 72);
  --primary-light: rgba(218, 208, 72, 0.8);
  --white: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--roboto);
}

/* Header - Footer */
#header-1,
#footer-1 {
  padding: 1rem;
  text-align: center;
  background-color: var(--primary);
}

h1 {
  padding: 1rem;
}

#footer-1 a {
  text-decoration: none;
  color: var(--black);
  font-weight: 800;
}

#footer-1 a:hover {
  color: var(--white);
}

/* Main */
#main-1 {
  max-width: 1200px;
  min-height: 90vh;
  margin: 1rem auto;
}

@media screen and (max-width: 1100px) {
  #main-1 {
    margin: 2rem 1rem;
  }
}

#main-1 h3 {
  text-align: center;
  padding: 1.5rem 1rem;
}

#main-1 button {
  margin: 1rem;
  padding: 0.5rem;
  background-color: var(--primary-light);
  border: none;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  box-shadow: -7px 7px var(--gray);
}